<p id="notice"><%= notice %></p>

<h1>Servicios</h1>

<div class= "box center-box">
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Consumo minimo</th>
          <th>Costo unitario</th>
          <th>Unidad medida</th>
          <th>Descripcion</th>
        </tr>
      </thead>

      <tbody>
        <% @servicios.each do |servicio| %>
          <tr>
            <td><%= servicio.consumo_minimo %></td>
            <td><%= servicio.costo_unitario %></td>
            <td><%= servicio.unidad_medida %></td>
            <td><%= servicio.descripcion %></td>
            <td><%= link_to servicio, class: "btn btn-default btn-sm", 'data-toggle'=>"tooltip" ,'data-placement'=>"right" , title:"Mostrar" do %><span class="glyphicon glyphicon-eye-open green" style="color:blue"></span><% end %></td>
            <td><%= link_to edit_servicio_path(servicio),class: "btn btn-default btn-sm", 'data-toggle'=>"tooltip" ,'data-placement'=>"right" , title:"Editar"  do%><span class="glyphicon glyphicon-edit "></span><% end %></td>
            <td><%= link_to servicio, method: :delete, data: { confirm: 'Estas Seguro/a?' }, class: "btn btn-default btn-sm", 'data-toggle'=>"tooltip" ,'data-placement'=>"right" , title:"Eliminar" do %><span class="glyphicon glyphicon-trash red" style="color:red"></span><% end %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-md-2">
  <%= link_to 'Agregar Servicio', new_servicio_path, :class=> "btn btn-success" ,style: " color:#FFF" %>
</div>
<br>

