<%= simple_form_for(@persona) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.input :nacionalidad %>
    </div>
    <div class="form-group">
      <%= f.input :nombre %>
    </div>
    <div class="form-group">
      <%= f.input :direccion %>
    </div>
    <div class="form-group">
      <%= f.input :ruc %>
    </div>
    <div class="form-group">
      <%= f.input :telefono %>
    </div>
    <div class="form-group">
      <%= f.input :ci_numero %>
    </div>
    <div class="form-group">
      <%= f.input :correo %>
    </div>
  </div>

  <br>

  <div clas="form-group">
    <div class="col-md-4">
      <div class="form-actions">
        <%= f.submit "Aceptar" , class: "btn btn-block  btn-success "  %>
      </div>
    </div>
  </div>
<% end %>
