<table>
  <thead>
    <tr>
      <th>numero</th>
      <th>Fecha expedicion</th>
      <th>Fecha vencimiento</th>
      <th>Iva</th>
      <th>Total a pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% facturas.each do |factura| %>
      <tr>
        <td><%= factura.numero %></td>
        <td><%= factura.fecha_expedicion %></td>
        <td><%= factura.fecha_vencimiento %></td>
        <td><%= factura.iva %></td>
        <td><%= factura.total_a_pagar %></td>
        <td>
        <%= link_to factura,'<i class="glyphicon glyphicon-eye-open"></i>', class: "btn btn-info btn-xs", remote: true %>

        <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_factura_path(factura), class: "btn btn-warning btn-xs", remote: true %>
           
            
        <%= link_to factura_path(factura), method: :delete, data: {confirm: 'Estas seguro que quieres eliminar?'},class: "btn btn-danger btn-xs", remote: true do%>
              <i class="glyphicon glyphicon-trash"></i>
                <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>