<p id="notice"><%= notice %></p>

<h1>Facturas Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas_detalles.each do |facturas_detalle| %>
      <tr>
        <td><%= facturas_detalle.monto %></td>
        <td><%= facturas_detalle.IVA %></td>
        <td><%= link_to 'Show', facturas_detalle %></td>
        <td><%= link_to 'Edit', edit_facturas_detalle_path(facturas_detalle) %></td>
        <td><%= link_to 'Destroy', facturas_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facturas Detalle', new_facturas_detalle_path %>
