<p id="notice"><%= notice %></p>

<p>
  <strong>Anho:</strong>
  <%= @ejercicio.anho %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ejercicio.estado %>
</p>

<%= link_to 'Edit', edit_ejercicio_path(@ejercicio) %> |
<%= link_to 'Back', ejercicios_path %>
