<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @concepto.nombre %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @concepto.monto %>
</p>

<%= link_to 'Edit', edit_concepto_path(@concepto) %> |
<%= link_to 'Back', conceptos_path %>
